<div class="page-header text-center">
  <h1>{{photo.titulo}}</h1>
</div>

<p ng-show="message.length" class="alert alert-info">{{message}}</p>

<form name="formulario" class="row" ng-submit="submit()" novalidate>
  <div class="col-md-6">
    <div class="form-group">
      <label>Título</label>
      <input ng-model="photo.titulo" name="titulo" class="form-control" required ng-maxlength="20">
      <span ng-show="formulario.$submitted && formulario.titulo.$error.required" class="form-control alert-danger">
        Título obrigatório
      </span>
      <span ng-show="formulario.$submitted && formulario.titulo.$error.maxlength" class="form-control alert-danger">
        Deve ter máximo 20 caracteres
      </span>
    </div>
    <div class="form-group">
      <label>URL</label>
      <input ng-model="photo.url" name="url" class="form-control" required>
      <span ng-show="formulario.$submitted && formulario.url.$error.required" class="form-control alert-danger">
        URL obrigatório
      </span>
    </div>
    <div class="form-group">
      <label>Descrição</label>
      <textarea ng-model="photo.descricao" name="descricao" class="form-control"></textarea>
    </div>
    <div class="form-group">
      <label>Grupo</label>
      <select name="grupo" class="form-control" required
          ng-controller="GruposController" 
          ng-model="photo.grupo"
          ng-options="grupo._id as (grupo.nome | uppercase) for grupo in grupos">
        <option value="">Selecione Grupo</option>
      </select>
      <span ng-show="formulario.$submitted && formulario.grupo.$error.required" class="form-control alert-danger">
        Grupo obrigatório
      </span>
    </div>
    <button type="submit" class="btn btn-primary" ng-disabled="formulario.$invalid">Salvar</button>
    <a href="/" class="btn btn-primary">Voltar</a>
  </div>
  <div class="col-md-6">
    <my-photo url="{{photo.url}}" titulo="{{photo.titulo}}"></my-photo>
  </div>
</form>