<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form>
            <input ng-model="filter" ng-model-options="{ debounce: 500 }" class="form-control" placeholder="filtrar">
        </form>
    </div>
</div>

<div class="row">
    <my-panel class="col-md-2 painel-animado" ng-repeat="photo in photos | filter: filter" title="{{photo.titulo}}">
        <my-photo url="{{photo.url}}" title="{{photo.titulo}}"></my-photo>
    </my-panel>
</div>