<div class="jumbotron">
    <h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" ng-show="message.length">
    {{message}}
</p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="photos/new" class="btn btn-primary">Nova foto</a>
                </span>
                <input ng-model="filter" ng-model-options="{ debounce: 500 }" class="form-control" placeholder="filtrar">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <my-panel class="col-md-2 painel-animado" ng-repeat="photo in photos | filter: filter" title="{{photo.titulo}}">
        <my-photo url="{{photo.url}}" title="{{photo.titulo}}"></my-photo>
        <a href="photos/edit/{{photo._id}}" class="btn btn-primary btn-block">Editar</a>
        <my-danger-button action="remove(photo)" caption="Remover"></my-danger-button>
    </my-panel>
</div>